.App {
  text-align: center;
}

.home {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.users, .posts {
  display: flex;
  flex-wrap: wrap;
gap: 50px;
  margin: 50px;
}
.user, .post {
  margin: 0 !important;
}
